@import "variables";
#s1 {
  background-color: black;
  .container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
    > .row {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      background-color: aqua;
      .logo{
        width: 160px;
        height: 100px;
        background-color: beige;
      }

      .info{
        width: 500px;
        height: 100px;
        background-color: burlywood;
        display: flex;
        flex-flow: wrap;
        align-items: center;
        >.row{
          width: 100%;
          display: flex;
          flex-flow: wrap;
          justify-content: flex-end;
          >.col{
            margin-left: 10px;
          }
        }
      }
    }
  }
}
